body {

    color: hsla(0, 0%, 100%, 0.75);
    font-size: 15px;
    font-weight: 400px;

}

.container {
    margin: 30px;
    border-radius: 15px;
    /* display: flex; */

}

p {
    font-size: 15px;
    font-weight: 400px;
}

.heading {
    font-family: Big Shoulders Display;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 10px;


}

.buttons {
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 18px;
    border-radius: 25px;
    border: 0;
    color:hsl(0, 0%, 95%);
    margin-top: 40px;
    
}




.button-card-sedans {
    color: hsl(31, 77%, 52%);
}


.button-card-suvs {
    color: hsl(184, 100%, 22%);
}

.button-card-luxury {
    color: hsl(179, 100%, 13%);
}

.sedans-card {
    background-color: hsl(31, 77%, 52%);

    font-family: Lexend Deca;
    /* font-weight: 400px; */
    padding: 50px;
    height:38vh;
    /* height: 300px; */
    line-height: 1.8;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /* font-size: 1.1rem; */

}

.suvs-card {
    background-color: hsl(184, 100%, 22%);

    height:38vh;
    font-family: Lexend Deca;
    /* font-weight: 400px; */
    padding: 50px;
    line-height: 1.8;
    /* font-size: 1.1rem; */
}

.luxury-card {
    background-color: hsl(179, 100%, 13%);

    font-family: Lexend Deca;
    /* font-weight: 400px; */
    padding: 50px;
    height: 38vh;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    line-height: 1.8;
    /* font-size: 1.1rem; */
}
.buttons:hover{
    background-color:rgba(0, 0, 0, 0);
    border: 2px solid white;
    color: white;
    cursor:pointer;
}


@media screen and (min-width:780px) {

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        
        
    }
    p{
        font-size: 1.1rem;
        
    }

    .sedans-card {
        border-top-right-radius: 0;
        border-bottom-left-radius: 15px;
        width: 15%;
        height:45%;
        
        position: relative;
        
        
        
    }

    .suvs-card {
        width: 15%;
        height:45%;
        position: relative;
        

    }

    .luxury-card {

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        width: 15%;
        height:45%;
        position: relative;
    }
    .buttons{
        position: absolute;
        bottom: 10%;
        padding-left: 15%;
        padding-right: 15%;
        
        
    }
    .buttons:hover{
        background-color:rgba(0, 0, 0, 0);
        border: 2px solid white;
        color: white;
        cursor:pointer;
    }


}

